.admin-sidebar-col {
  width: 245px;
  min-height: calc(100vh - 65px);
  background: #0f131f;
}

.admin-sidebar-col .fixed-div {
  position: sticky;
  top: 65px;
}

.accordion {
  position: relative;
  padding: 12px 15px;
  color: #333333;
  border-bottom: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  transition: 0.3s;
  cursor: pointer;
  border-top: 1px solid #0000001f;
}

.accordion:after {
  content: "";
  border: solid rgb(0 0 0) 2px;
  border-width: 0px 2px 2px 0;
  display: inline-block;
  padding: 2.5px;
  margin-right: 12px;
  transform: rotate(-45deg);
  position: relative;
  top: 3px;
  left: 0px;
  transition: 0.3s;
  float: left;
}

.active:after {
  transform: rotate(45deg);
}

.admin-sidebar-col .accordion {
  color: #fff;
  background: #0f131f;
  font-weight: 400;
  border-bottom: 1px solid #797979;
}

.admin-sidebar-col .accordion:after {
  border: solid #fff 2px;
  border-width: 0px 2px 2px 0;
}

.admin-sidebar-col .panel a {
  display: block;
  font-size: 14px;
  color: #fff;
  background: #323d51;
  padding: 10px 15px 10px 35px;
  font-weight: 300;
}

.admin-sidebar-col .panel a:hover {
  text-decoration: none;
  color: #000;
  background: #cca326 !important;
  font-weight: 400;
}

.admin-sidebar-col .panel .active-tab {
  color: #000;
  background: #cca326 !important;
  font-weight: 400;
}

.content-col {
  width: calc(100% - 245px);
  background: #dbdbdb;
}

.content-col .inner-content {
  padding: 40px 15px 80px 15px;
}

.inner-breadcrumb {
  border-radius: 0;
  position: sticky;
  top: 65px;
  z-index: 2;
}

.content-col .breadcrumb {
  background: #cca326;
  padding-bottom: 10px;
}

.content-col .breadcrumb li {
  color: #000;
  font-size: 14px;
}

.content-col .ad-form-sec {
  max-width: 700px;
  margin: auto;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.content-col .ad-form-sec .header {
  background: #323d51;
  color: rgb(255 255 255);
  padding: 10px 15px;
  margin: 0;
  margin-bottom: 20px;
}

.content-col .info-desc {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 0;
}

.content-col .ad-form-sec .content {
  padding: 10px 15px;
}

.btn-save {
  background: #28a745;
  color: #fff;
  padding: 5px 25px;
  border: 0;
  margin-bottom: 10px;
}

/* table */
.common-table thead {
  background: #323d51;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.common-table thead th {
  font-weight: 400;
}

.common-table > tbody > tr:hover {
  background: rgb(245, 245, 245);
}

.common-table tr td i {
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
  font-size: 13px;
}

.common-table tr td .fa-trash-alt {
  border: 1px solid #dc3545;
  background: #fff;
  color: #dc3545;
}

.common-table tr td .fa-trash-alt:hover {
  background: #dc3545;
  color: #fff;
}
.common-table tr td .fa-trash-disabled {
  border: 1px solid #9e9e9e;
  background: #fff;
  color: #9e9e9e;
}

.common-table tr td .fa-trash-disabled:hover {
  border: 1px solid #9e9e9e;
  background: #fff;
  color: #9e9e9e;
  cursor: default;
}

.common-table tr td .fa-pencil-alt {
  border: 1px solid #616161;
  background: #fff;
  color: #616161;
}

.common-table tr td .fa-pencil-alt:hover {
  background: #616161;
  color: #fff;
}

/* form */
.content .sec-heading {
  font-weight: 500;
  padding-left: 3px;
  margin-top: 12px;
  margin-bottom: 8px;
}

.content label {
  font-size: 15px;
  color: #333333;
  font-weight: 300;
  margin-bottom: 5px;
}

.required-tag {
  color: #dc3545;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
  border-color: #cca326;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  box-shadow: none;
}

select {
  background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")
    #fff no-repeat calc(100% - 5px) !important;
  padding-right: 30px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.btn-submit {
  display: block;
  width: 100%;
  background: #cca326;
  padding: 7px 15px;
  color: #fff;
  text-align: center;
  border: 0;
  border-radius: 0.25rem;
}

.btn-submit:hover {
  background: #323d51;
  color: #fff;
}

.btn-submit:focus {
  box-shadow: none;
  outline: 0;
}

/* tooltip */
.tooltip-cus {
  font-weight: 500;
  opacity: 1 !important;
}

/* notification */
.notification {
  opacity: 1 !important;
  margin-top: 130px !important;
}

.notification-success {
  background-color: #35c835 !important;
}
