.filter-row {
  width: fit-content;
  margin: auto;
  margin-top: 15px;
}

.filter-row .filter-col {
  margin: 8px;
}

.filter-row .filter-col label {
  font-weight: 500;
  text-align: center;
}

.reset-filter-btn {
  display: block;
  width: fit-content;
  margin: auto;
  font-size: 14px;
  color: rgb(116, 116, 116);
  font-weight: 300;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 5px;
}

.reset-filter-btn:hover {
  font-weight: 400;
}
